.italic {
  font-style: italic;
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.base-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;

  background: var(--yell);
  margin: 20px auto 20px auto;
  /* padding: 30px; */
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  max-height: 400px;
}

.center {
  text-align: center;
}

.base-routing a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.navigation {
  padding: 20px;
  color: black;
}

.navbar a:not(:last-child) {
  border-right: 1px solid #ccc;
}

footer {
  margin-top: 20px;
}
